


h2{
    text-align: left;
    padding-left: 10px;
}
hr{
    margin: 10px 10px;
}

.new-tweet{
    margin: 50px 2em auto 2em;
    border-radius: 10px;
    border: solid 1px black;
    text-align: center;
    background-color: #eee;
    
    padding: 20px 0px 40px 0px; 

}
textarea {
    padding: 5px ;
    width: 350px;
    margin-bottom: 5px;
    
}
input {
    float: left;
    margin-left: 17px;
    
}

.counter{
    padding-right: 15px;
    float: right;
}